<div class="container">
  <h1>Add ingredients and doses</h1>
  <%= simple_form_for([cocktail, dose]) do |f| %>
    <p>Enter a ingredient: <%= f.association :ingredient %></p>
    <p>Enter amount: <%= f.input :description %></p>
    <%= f.submit class: "btn btn-info"%>
  <% end %>
  <br>
  <br>

</div>
